body{
  margin:0;
  padding:0;
}
.whole{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: #000;
}
.calculator{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:20%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.calculator .number-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:75%;
}
.calculator .operator-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:25%;
  align-self: stretch;
}
.calculator .display{
  width:100%;
  padding:2% 4%;
  box-sizing: border-box;
  height:3vw;
  min-height: 25px;
  box-shadow: inset 2px 2px 5px #ccc;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000;
  color:#fff;
}
.calculator button.num-butt{
  background-color: #000;
  outline: none;
  border: 1px solid #ccc;
  padding:9% 4%;
  flex: 0 0 33.33%;
  color:#fff;
}
.calculator button.op-butt{
  background-color: #000;
  outline: none;
  border: 1px solid #ccc;
  align-self: stretch;
  flex: 0 0 100%;
  color:#fff;
}